USE [SLK_HUB_DEV]
GO
/****** Object:  Table [dbo].[Approval_Manager]    Script Date: 1/20/2021 6:59:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Approval_Manager](
	[Approval_Id] [int] IDENTITY(1,1) NOT NULL,
	[Doc_Id] [int] NULL,
	[Uploaded_By] [int] NULL,
	[Uploaded_On] [datetime] NULL,
	[Approved_Rejected_By] [int] NULL,
	[Approved_Rejected_On] [datetime] NULL,
	[Status] [nvarchar](30) NULL,
 CONSTRAINT [PK_Approval_Manager] PRIMARY KEY CLUSTERED 
(
	[Approval_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 1/20/2021 6:59:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Category_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Create_Date] [datetime] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Documents]    Script Date: 1/20/2021 6:59:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Documents](
	[Doc_ID] [int] IDENTITY(1,1) NOT NULL,
	[Doc_Name] [nvarchar](100) NULL,
	[Doc_Path] [nvarchar](500) NULL,
	[Doc_Tags] [nvarchar](500) NULL,
	[Cust_Id] [int] NULL,
	[Cust_Proj_Name] [nvarchar](100) NULL,
	[Cust_Journey_ID] [int] NULL,
	[Ethos_Item_Level_1] [nvarchar](100) NULL,
	[Ethos_Item_Level_2] [nvarchar](100) NULL,
	[Employee_Id] [nvarchar](100) NULL,
	[Create_Date] [datetime] NULL,
	[Last_View_Date] [datetime] NULL,
	[Total_Views] [int] NULL,
 CONSTRAINT [PK_Customer_Documents] PRIMARY KEY CLUSTERED 
(
	[Doc_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Journey]    Script Date: 1/20/2021 6:59:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Journey](
	[Journey_Id] [int] IDENTITY(1,1) NOT NULL,
	[Journey_Year] [int] NULL,
	[Journey_Module] [nvarchar](500) NULL,
	[Cust_Id] [int] NULL,
	[Journey_Desc] [nvarchar](4000) NULL,
	[Create_Date] [datetime] NULL,
	[Update_Date] [datetime] NULL,
 CONSTRAINT [PK_Customer_Journey] PRIMARY KEY CLUSTERED 
(
	[Journey_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Project_Team]    Script Date: 1/20/2021 6:59:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Project_Team](
	[Proj_Team_Id] [int] IDENTITY(1,1) NOT NULL,
	[Proj_Id] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Designation] [nvarchar](50) NULL,
	[Email_Id] [nvarchar](50) NULL,
	[Phone] [nvarchar](15) NULL,
	[ProfilePic] [nvarchar](100) NULL,
	[IsClient] [bit] NULL,
	[CustomerId] [int] NULL,
 CONSTRAINT [PK_Customer_Project_Team] PRIMARY KEY CLUSTERED 
(
	[Proj_Team_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Projects]    Script Date: 1/20/2021 6:59:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Projects](
	[Proj_Id] [int] IDENTITY(1,1) NOT NULL,
	[Proj_Desc] [nvarchar](500) NULL,
	[Cust_Id] [int] NULL,
	[Year] [int] NULL,
	[SLK_Champ] [nvarchar](500) NULL,
	[Description] [nvarchar](500) NULL,
	[Create_Date] [datetime] NULL,
	[Update_Date] [datetime] NULL,
 CONSTRAINT [PK_Customer_Projects] PRIMARY KEY CLUSTERED 
(
	[Proj_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Timeline]    Script Date: 1/20/2021 6:59:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Timeline](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Timeline] [nvarchar](500) NULL,
	[CustomerId] [int] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_Customer_Timeline] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 1/20/2021 6:59:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Cust_Id] [int] IDENTITY(1,1) NOT NULL,
	[Cust_Name] [nvarchar](100) NULL,
	[Cust_Desc] [nvarchar](500) NULL,
	[Year_Of_Engagement] [int] NULL,
	[Website_Link] [nvarchar](500) NULL,
	[Leadership_Team_Link] [nvarchar](500) NULL,
	[Products_Link] [nvarchar](500) NULL,
	[Financials_Link] [nvarchar](500) NULL,
	[Logo_Path] [nvarchar](500) NULL,
	[Cust_Industry] [nvarchar](500) NULL,
	[Create_Date] [datetime] NULL,
	[Update_Date] [datetime] NULL,
 CONSTRAINT [PK_Customers_1] PRIMARY KEY CLUSTERED 
(
	[Cust_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailNotification]    Script Date: 1/20/2021 6:59:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailNotification](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[ToEmail] [nvarchar](500) NULL,
	[CCEmail] [nvarchar](500) NULL,
	[Subject] [varchar](500) NULL,
	[Body] [nvarchar](max) NULL,
	[Create Date] [datetime] NULL,
	[Update Date] [datetime] NULL,
	[TemplateId] [int] NULL,
 CONSTRAINT [PK_EmailNotification] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_Career_Growth]    Script Date: 1/20/2021 6:59:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_Career_Growth](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Employee_Id] [nvarchar](50) NULL,
	[Employee_Name] [nvarchar](50) NULL,
	[Image] [nvarchar](50) NULL,
	[Title] [nvarchar](50) NULL,
	[JourneyYear] [nvarchar](20) NULL,
	[Highlight] [bit] NULL,
	[Star] [bit] NULL,
	[Create_Date] [datetime] NULL,
 CONSTRAINT [PK_Employee_Career_Growth] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_External_Experience]    Script Date: 1/20/2021 6:59:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_External_Experience](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Employee_Id] [nvarchar](50) NULL,
	[Employee_Name] [nvarchar](50) NULL,
	[Image] [nvarchar](50) NULL,
	[Title] [nvarchar](50) NULL,
	[JourneyYear] [nvarchar](20) NULL,
	[Highlight] [bit] NULL,
	[Star] [bit] NULL,
	[Create_Date] [datetime] NULL,
 CONSTRAINT [PK_Employee_External_Experience] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_Journey_Path]    Script Date: 1/20/2021 6:59:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_Journey_Path](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Employee_Id] [nvarchar](50) NULL,
	[Employee_Name] [nvarchar](50) NULL,
	[Image] [nvarchar](50) NULL,
	[Title] [nvarchar](50) NULL,
	[JourneyYear] [nvarchar](20) NULL,
	[Highlight] [bit] NULL,
	[Star] [bit] NULL,
	[Create_Date] [datetime] NULL,
 CONSTRAINT [PK_Employee_Journey_Path] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ethos_Culture]    Script Date: 1/20/2021 6:59:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ethos_Culture](
	[Ethos_Culture_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Doc_Path] [nvarchar](500) NULL,
	[Culture_Type] [nvarchar](50) NULL,
	[Create_Date] [datetime] NULL,
	[Last_View_Date] [datetime] NULL,
	[Total_Views] [int] NULL,
 CONSTRAINT [PK_Ethos_Culture] PRIMARY KEY CLUSTERED 
(
	[Ethos_Culture_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evolution_Offices_Documents]    Script Date: 1/20/2021 6:59:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evolution_Offices_Documents](
	[Doc_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Year] [int] NULL,
	[Doc_Path] [nvarchar](500) NULL,
	[Create_Date] [datetime] NULL,
	[Last_View_Date] [datetime] NULL,
	[Total_Views] [int] NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_Evolution_Offices_Documents] PRIMARY KEY CLUSTERED 
(
	[Doc_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evolution_Strategic_Focus]    Script Date: 1/20/2021 6:59:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evolution_Strategic_Focus](
	[Strategic_Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Year] [int] NULL,
	[Doc_Path] [nvarchar](500) NULL,
	[Create_Date] [datetime] NULL,
	[Last_View_Date] [datetime] NULL,
	[Total_Views] [int] NULL,
 CONSTRAINT [PK_Evolution_Strategic_Focus] PRIMARY KEY CLUSTERED 
(
	[Strategic_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Impact]    Script Date: 1/20/2021 6:59:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impact](
	[Impact_id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [nvarchar](50) NULL,
	[CustomerLogo] [nvarchar](50) NULL,
	[Solution] [nvarchar](50) NULL,
	[SLK_Champion] [nvarchar](50) NULL,
	[Title] [nvarchar](500) NULL,
	[Type] [nvarchar](500) NULL,
	[Keywords] [nvarchar](max) NULL,
	[ImpactType] [varchar](50) NULL,
	[Impact_Year] [varchar](50) NULL,
 CONSTRAINT [PK_Impact] PRIMARY KEY CLUSTERED 
(
	[Impact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KeyPrograms]    Script Date: 1/20/2021 6:59:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KeyPrograms](
	[KeyPrograms_id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [nvarchar](50) NULL,
	[CustomerLogo] [nvarchar](50) NULL,
	[Solution] [nvarchar](50) NULL,
	[SLK_Champion] [nvarchar](50) NULL,
	[Title] [nvarchar](500) NULL,
	[Type] [nvarchar](500) NULL,
	[Keywords] [nvarchar](max) NULL,
	[ImpactType] [varchar](50) NULL,
	[Impact_Year] [varchar](50) NULL,
 CONSTRAINT [PK_KeyPrograms] PRIMARY KEY CLUSTERED 
(
	[KeyPrograms_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Learnings]    Script Date: 1/20/2021 6:59:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Learnings](
	[Learning_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Year] [int] NULL,
	[Doc_Path] [nvarchar](500) NULL,
	[Create_Date] [datetime] NULL,
	[Last_View_Date] [datetime] NULL,
	[Total_Views] [int] NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_Learnings] PRIMARY KEY CLUSTERED 
(
	[Learning_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stotefiles]    Script Date: 1/20/2021 6:59:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stotefiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[File] [nvarchar](max) NULL,
 CONSTRAINT [PK_Files] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subcategory]    Script Date: 1/20/2021 6:59:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subcategory](
	[Subcategory_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Category_Id] [int] NULL,
	[Create_Date] [datetime] NULL,
 CONSTRAINT [PK_Subcategory] PRIMARY KEY CLUSTERED 
(
	[Subcategory_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer_Documents] ON 
GO
INSERT [dbo].[Customer_Documents] ([Doc_ID], [Doc_Name], [Doc_Path], [Doc_Tags], [Cust_Id], [Cust_Proj_Name], [Cust_Journey_ID], [Ethos_Item_Level_1], [Ethos_Item_Level_2], [Employee_Id], [Create_Date], [Last_View_Date], [Total_Views]) VALUES (1, N'Video 1', N'/slk-hub/Videos/sample-mp4-file.mp4', N'video', 1, NULL, NULL, NULL, NULL, NULL, CAST(N'2020-11-24T07:33:02.470' AS DateTime), CAST(N'2020-11-24T07:33:02.470' AS DateTime), 0)
GO
INSERT [dbo].[Customer_Documents] ([Doc_ID], [Doc_Name], [Doc_Path], [Doc_Tags], [Cust_Id], [Cust_Proj_Name], [Cust_Journey_ID], [Ethos_Item_Level_1], [Ethos_Item_Level_2], [Employee_Id], [Create_Date], [Last_View_Date], [Total_Views]) VALUES (2, N'Video 2', N'/slk-hub/Videos/sample-mp4-file.mp4', N'video', 1, NULL, NULL, NULL, NULL, NULL, CAST(N'2020-11-24T07:33:02.480' AS DateTime), CAST(N'2020-11-24T07:33:02.480' AS DateTime), 0)
GO
INSERT [dbo].[Customer_Documents] ([Doc_ID], [Doc_Name], [Doc_Path], [Doc_Tags], [Cust_Id], [Cust_Proj_Name], [Cust_Journey_ID], [Ethos_Item_Level_1], [Ethos_Item_Level_2], [Employee_Id], [Create_Date], [Last_View_Date], [Total_Views]) VALUES (3, N'Video 3', N'/slk-hub/Videos/sample-mp4-file.mp4', N'video', 0, N'a banking project', NULL, NULL, NULL, NULL, CAST(N'2020-11-24T07:33:02.480' AS DateTime), CAST(N'2020-11-24T07:33:02.480' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[Customer_Documents] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer_Journey] ON 
GO
INSERT [dbo].[Customer_Journey] ([Journey_Id], [Journey_Year], [Journey_Module], [Cust_Id], [Journey_Desc], [Create_Date], [Update_Date]) VALUES (1, 2016, N'Global Quote Form', 1, N'Intuitive, automated and seamless Quote Management Solution enabled by Hyper Automation that connects all Emerson Offices Globally to a centralized solution.
', CAST(N'2020-11-24T05:01:42.883' AS DateTime), CAST(N'2020-11-24T05:01:42.883' AS DateTime))
GO
INSERT [dbo].[Customer_Journey] ([Journey_Id], [Journey_Year], [Journey_Module], [Cust_Id], [Journey_Desc], [Create_Date], [Update_Date]) VALUES (2, 2002, N'Inflation Model', 1, N'Currently this is used by Emerson Global Procurement to procure raw materials that are directly used to manufacture Emerson products

As Emerson divested Emerson Network Power few years back, the new entities that were formed also requested SLK to implement Inflation Model.', CAST(N'2020-11-24T05:01:42.883' AS DateTime), CAST(N'2020-11-24T05:01:42.883' AS DateTime))
GO
INSERT [dbo].[Customer_Journey] ([Journey_Id], [Journey_Year], [Journey_Module], [Cust_Id], [Journey_Desc], [Create_Date], [Update_Date]) VALUES (3, 2003, N'Symphony', 1, N'An application that was supposed to manage Emerson Global Quote & Orders, “Give us 4 weeks and we will prove”, that’s how we took over our first project and gained a relationship of 20+ years. 
', CAST(N'2020-11-24T05:01:42.883' AS DateTime), CAST(N'2020-11-24T05:01:42.883' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Customer_Journey] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer_Project_Team] ON 
GO
INSERT [dbo].[Customer_Project_Team] ([Proj_Team_Id], [Proj_Id], [Name], [Designation], [Email_Id], [Phone], [ProfilePic], [IsClient], [CustomerId]) VALUES (1, 1, N'Rajesh M', N'Project manager', N'mag@slkgroup.com', N'222341111', N'/slk-hub/Images/sample_image.png', 0, 1)
GO
INSERT [dbo].[Customer_Project_Team] ([Proj_Team_Id], [Proj_Id], [Name], [Designation], [Email_Id], [Phone], [ProfilePic], [IsClient], [CustomerId]) VALUES (2, 1, N'Ramesh', N'Architect', N'ramesh@slkgroup.com', N'222341111', N'/slk-hub/Images/sample_image.png', 0, 1)
GO
INSERT [dbo].[Customer_Project_Team] ([Proj_Team_Id], [Proj_Id], [Name], [Designation], [Email_Id], [Phone], [ProfilePic], [IsClient], [CustomerId]) VALUES (3, 1, N'Rajesh M', N'Project manager', N'mag@slkgroup.com', N'222341111', N'/slk-hub/Images/sample_image.png', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Customer_Project_Team] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer_Projects] ON 
GO
INSERT [dbo].[Customer_Projects] ([Proj_Id], [Proj_Desc], [Cust_Id], [Year], [SLK_Champ], [Description], [Create_Date], [Update_Date]) VALUES (1, N'a banking project', 2, 2013, N'bruce', N'zzz xx ccc', CAST(N'2013-09-09T00:00:00.000' AS DateTime), CAST(N'2020-08-29T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Customer_Projects] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer_Timeline] ON 
GO
INSERT [dbo].[Customer_Timeline] ([ID], [Timeline], [CustomerId], [CreateDate]) VALUES (1, N'Customer since - 1998', 1, CAST(N'2020-12-04T08:22:10.617' AS DateTime))
GO
INSERT [dbo].[Customer_Timeline] ([ID], [Timeline], [CustomerId], [CreateDate]) VALUES (2, N'Industry - Automation-Solutions', 1, CAST(N'2020-12-04T08:22:10.667' AS DateTime))
GO
INSERT [dbo].[Customer_Timeline] ([ID], [Timeline], [CustomerId], [CreateDate]) VALUES (3, N'Projects 1 - Automation Engineering', 1, CAST(N'2020-12-04T08:22:10.667' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Customer_Timeline] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 
GO
INSERT [dbo].[Customers] ([Cust_Id], [Cust_Name], [Cust_Desc], [Year_Of_Engagement], [Website_Link], [Leadership_Team_Link], [Products_Link], [Financials_Link], [Logo_Path], [Cust_Industry], [Create_Date], [Update_Date]) VALUES (1, N'Emerson', N'Emerson', 2000, N'https://www.emerson.com', N'https://www.leaderemerson.com', N'https://www.productemerson.com', N'https://www.financeemerson.com', N'/slk-hub/Images/Emerson.png', N'Emerson', CAST(N'2013-09-09T00:00:00.000' AS DateTime), CAST(N'2020-08-29T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[EmailNotification] ON 
GO
SET IDENTITY_INSERT [dbo].[EmailNotification] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee_Career_Growth] ON 
GO
INSERT [dbo].[Employee_Career_Growth] ([ID], [Employee_Id], [Employee_Name], [Image], [Title], [JourneyYear], [Highlight], [Star], [Create_Date]) VALUES (1, N'100', N'Maya Shenoy', N'/slk-hub/Images/temp_image1.png', N'Fresher from JCE, Mysore', N'2001', 1, 0, CAST(N'2020-12-02T08:31:47.790' AS DateTime))
GO
INSERT [dbo].[Employee_Career_Growth] ([ID], [Employee_Id], [Employee_Name], [Image], [Title], [JourneyYear], [Highlight], [Star], [Create_Date]) VALUES (2, N'100', N'Maya Shenoy', N'/slk-hub/Images/temp_image1.png', N'Lead – BPM Practice', N'2005', 0, 0, CAST(N'2020-12-02T08:31:47.793' AS DateTime))
GO
INSERT [dbo].[Employee_Career_Growth] ([ID], [Employee_Id], [Employee_Name], [Image], [Title], [JourneyYear], [Highlight], [Star], [Create_Date]) VALUES (3, N'100', N'Maya Shenoy', N'/slk-hub/Images/temp_image1.png', N'CBU Head', N'2010', 0, 0, CAST(N'2020-12-02T08:31:47.793' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Employee_Career_Growth] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee_External_Experience] ON 
GO
INSERT [dbo].[Employee_External_Experience] ([ID], [Employee_Id], [Employee_Name], [Image], [Title], [JourneyYear], [Highlight], [Star], [Create_Date]) VALUES (1, N'100340', N'Vijay C. Kaggal', N'/slk-hub/Images/VijayCkaggal.png', N'Joined from BPL', N'2004', 1, 0, CAST(N'2020-12-02T08:31:47.790' AS DateTime))
GO
INSERT [dbo].[Employee_External_Experience] ([ID], [Employee_Id], [Employee_Name], [Image], [Title], [JourneyYear], [Highlight], [Star], [Create_Date]) VALUES (2, N'100340', N'Vijay C. Kaggal', N'/slk-hub/Images/VijayCkaggal.png', N'CBU Head', N'2008', 0, 0, CAST(N'2020-12-02T08:31:47.793' AS DateTime))
GO
INSERT [dbo].[Employee_External_Experience] ([ID], [Employee_Id], [Employee_Name], [Image], [Title], [JourneyYear], [Highlight], [Star], [Create_Date]) VALUES (3, N'100340', N'Vijay C. Kaggal', N'/slk-hub/Images/VijayCkaggal.png', N'Head – M&SC Vertical', N'2012', 0, 0, CAST(N'2020-12-02T08:31:47.793' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Employee_External_Experience] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee_Journey_Path] ON 
GO
INSERT [dbo].[Employee_Journey_Path] ([ID], [Employee_Id], [Employee_Name], [Image], [Title], [JourneyYear], [Highlight], [Star], [Create_Date]) VALUES (1, N'100', N'Maya Shenoy', N'../.././Images/temp_image1.png', N'Fresher from JCE, Mysore', N'2001', 1, 0, CAST(N'2020-12-02T08:31:47.790' AS DateTime))
GO
INSERT [dbo].[Employee_Journey_Path] ([ID], [Employee_Id], [Employee_Name], [Image], [Title], [JourneyYear], [Highlight], [Star], [Create_Date]) VALUES (2, N'100', N'Maya Shenoy', N'../.././Images/temp_image1.png', N'Lead – BPM Practice', N'2005', 0, 0, CAST(N'2020-12-02T08:31:47.793' AS DateTime))
GO
INSERT [dbo].[Employee_Journey_Path] ([ID], [Employee_Id], [Employee_Name], [Image], [Title], [JourneyYear], [Highlight], [Star], [Create_Date]) VALUES (3, N'100', N'Maya Shenoy', N'../.././Images/temp_image1.png', N'CBU Head', N'2010', 0, 0, CAST(N'2020-12-02T08:31:47.793' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Employee_Journey_Path] OFF
GO
SET IDENTITY_INSERT [dbo].[Ethos_Culture] ON 
GO
INSERT [dbo].[Ethos_Culture] ([Ethos_Culture_Id], [Name], [Doc_Path], [Culture_Type], [Create_Date], [Last_View_Date], [Total_Views]) VALUES (1, N'video 1', N'/slk-hub/Videos/sample-mp4-file.mp4', N'Innovation', CAST(N'2020-12-12T00:00:00.000' AS DateTime), CAST(N'2020-01-12T00:00:00.000' AS DateTime), 12)
GO
INSERT [dbo].[Ethos_Culture] ([Ethos_Culture_Id], [Name], [Doc_Path], [Culture_Type], [Create_Date], [Last_View_Date], [Total_Views]) VALUES (2, N'video 2', N'/slk-hub/Videos/sample-mp4-file1.mp4', N'Innovation', CAST(N'2020-12-12T00:00:00.000' AS DateTime), CAST(N'2020-01-12T00:00:00.000' AS DateTime), 12)
GO
INSERT [dbo].[Ethos_Culture] ([Ethos_Culture_Id], [Name], [Doc_Path], [Culture_Type], [Create_Date], [Last_View_Date], [Total_Views]) VALUES (3, N'video 3', N'/slk-hub/Videos/sample-mp4-file2.mp4', N'Innovation', CAST(N'2020-12-12T00:00:00.000' AS DateTime), CAST(N'2020-01-12T00:00:00.000' AS DateTime), 12)
GO
SET IDENTITY_INSERT [dbo].[Ethos_Culture] OFF
GO
SET IDENTITY_INSERT [dbo].[Evolution_Offices_Documents] ON 
GO
INSERT [dbo].[Evolution_Offices_Documents] ([Doc_ID], [Name], [Year], [Doc_Path], [Create_Date], [Last_View_Date], [Total_Views], [Description]) VALUES (1, N'The Beginning', 2010, N'/slk-hub/Videos/sample-mp4-file.mp4', CAST(N'2020-01-12T00:00:00.000' AS DateTime), CAST(N'2020-09-12T00:00:00.000' AS DateTime), 150, N'An acquisition by SLK of a niche Digital Creative Experience Company Based on CA, USA')
GO
INSERT [dbo].[Evolution_Offices_Documents] ([Doc_ID], [Name], [Year], [Doc_Path], [Create_Date], [Last_View_Date], [Total_Views], [Description]) VALUES (2, N'Vyalikaval', 2010, N'/slk-hub/Videos/sample-mp4-file.mp4', CAST(N'2020-01-12T00:00:00.000' AS DateTime), CAST(N'2020-09-12T00:00:00.000' AS DateTime), 150, N'An acquisition by SLK of a niche Digital Creative Experience Company Based on CA, USA')
GO
INSERT [dbo].[Evolution_Offices_Documents] ([Doc_ID], [Name], [Year], [Doc_Path], [Create_Date], [Last_View_Date], [Total_Views], [Description]) VALUES (3, N'Niran Arcade', 2010, N'/slk-hub/Videos/sample-mp4-file.mp4', CAST(N'2020-01-12T00:00:00.000' AS DateTime), CAST(N'2020-09-12T00:00:00.000' AS DateTime), 150, N'An acquisition by SLK of a niche Digital Creative Experience Company Based on CA, USA')
GO
SET IDENTITY_INSERT [dbo].[Evolution_Offices_Documents] OFF
GO
SET IDENTITY_INSERT [dbo].[Evolution_Strategic_Focus] ON 
GO
INSERT [dbo].[Evolution_Strategic_Focus] ([Strategic_Id], [Description], [Year], [Doc_Path], [Create_Date], [Last_View_Date], [Total_Views]) VALUES (1, N'Establish SLK Delivery Engine Acquire First Customer', 2010, N'/slk-hub/Videos/sample-mp4-file.mp4', CAST(N'2020-01-12T00:00:00.000' AS DateTime), CAST(N'2020-09-12T00:00:00.000' AS DateTime), 150)
GO
INSERT [dbo].[Evolution_Strategic_Focus] ([Strategic_Id], [Description], [Year], [Doc_Path], [Create_Date], [Last_View_Date], [Total_Views]) VALUES (2, N'Scale Across Customers Large Programs  CMM Certification', 2010, N'/slk-hub/Videos/sample-mp4-file.mp4', CAST(N'2020-01-12T00:00:00.000' AS DateTime), CAST(N'2020-09-12T00:00:00.000' AS DateTime), 150)
GO
SET IDENTITY_INSERT [dbo].[Evolution_Strategic_Focus] OFF
GO
SET IDENTITY_INSERT [dbo].[Impact] ON 
GO
INSERT [dbo].[Impact] ([Impact_id], [CustomerId], [CustomerLogo], [Solution], [SLK_Champion], [Title], [Type], [Keywords], [ImpactType], [Impact_Year]) VALUES (1, N'1', N'/slk-hub/Images/Emerson.png', N'Inflation Model', N'Nagesh KP', N'Case Study: Inflation Model', N'Type: New Solution/Application', N'Procurement,Forecast,Data Analysis,Reports,Under Estimation', N'Simple', N'2001')
GO
INSERT [dbo].[Impact] ([Impact_id], [CustomerId], [CustomerLogo], [Solution], [SLK_Champion], [Title], [Type], [Keywords], [ImpactType], [Impact_Year]) VALUES (2, N'1', N'/slk-hub/Images/Emerson.png', N'Product Configurator', N'Vijay KC, Zikriyar Khan, Vinayak Kamath, Niranjan', N'Case Study: Product Configurator', N'Type: New Solution/Application', N'Business Engineering,Complex Data Modelling,Complex Algorithms,BOM,Digital,Solution Standardization', N'Simple', N'2001')
GO
INSERT [dbo].[Impact] ([Impact_id], [CustomerId], [CustomerLogo], [Solution], [SLK_Champion], [Title], [Type], [Keywords], [ImpactType], [Impact_Year]) VALUES (3, N'1', N'/slk-hub/Images/Emerson.png', N'Symphony', N'SN Adiga', N'Case Study: Symphony', N'Type: Transition/Stabilize/Reengineer', N'Competitive Challenge,Business Critical,Transition from Bad Shape,Prove SLK Ability,Stabilize,Reengineer', N'Complex', N'2001')
GO
SET IDENTITY_INSERT [dbo].[Impact] OFF
GO
SET IDENTITY_INSERT [dbo].[KeyPrograms] ON 
GO
INSERT [dbo].[KeyPrograms] ([KeyPrograms_id], [CustomerId], [CustomerLogo], [Solution], [SLK_Champion], [Title], [Type], [Keywords], [ImpactType], [Impact_Year]) VALUES (1, N'1', N'/slk-hub/Images/Emerson.png', N'Inflation Model', N'Nagesh KP', N'Case Study: Inflation Model', N'Type: New Solution/Application', N'Procurement,Forecast,Data Analysis,Reports,Under Estimation', N'Simple', N'2001')
GO
INSERT [dbo].[KeyPrograms] ([KeyPrograms_id], [CustomerId], [CustomerLogo], [Solution], [SLK_Champion], [Title], [Type], [Keywords], [ImpactType], [Impact_Year]) VALUES (2, N'1', N'/slk-hub/Images/Emerson.png', N'Product Configurator', N'Vijay KC, Zikriyar Khan, Vinayak Kamath, Niranjan', N'Case Study: Product Configurator', N'Type: New Solution/Application', N'Business Engineering,Complex Data Modelling,Complex Algorithms,BOM,Digital,Solution Standardization', N'Simple', N'2001')
GO
INSERT [dbo].[KeyPrograms] ([KeyPrograms_id], [CustomerId], [CustomerLogo], [Solution], [SLK_Champion], [Title], [Type], [Keywords], [ImpactType], [Impact_Year]) VALUES (3, N'1', N'/slk-hub/Images/Emerson.png', N'Symphony', N'SN Adiga', N'Case Study: Symphony', N'Type: Transition/Stabilize/Reengineer', N'Competitive Challenge,Business Critical,Transition from Bad Shape,Prove SLK Ability,Stabilize,Reengineer', N'Complex', N'2001')
GO
SET IDENTITY_INSERT [dbo].[KeyPrograms] OFF
GO
SET IDENTITY_INSERT [dbo].[Learnings] ON 
GO
INSERT [dbo].[Learnings] ([Learning_Id], [Name], [Year], [Doc_Path], [Create_Date], [Last_View_Date], [Total_Views], [Description]) VALUES (1, N'Big Block', 2010, N'/slk-hub/Videos/sample-mp4-file.mp4', CAST(N'2020-01-12T00:00:00.000' AS DateTime), CAST(N'2020-09-12T00:00:00.000' AS DateTime), 100, N'An acquisition by SLK of a niche Digital Creative Experience Company Based on CA, USA')
GO
INSERT [dbo].[Learnings] ([Learning_Id], [Name], [Year], [Doc_Path], [Create_Date], [Last_View_Date], [Total_Views], [Description]) VALUES (2, N'Data Mining', 2008, N'/slk-hub/Videos/sample-mp4-file.mp4', CAST(N'2020-01-12T00:00:00.000' AS DateTime), CAST(N'2020-09-12T00:00:00.000' AS DateTime), 150, N'An acquisition by SLK of a niche Digital Creative Experience Company Based on CA, USA')
GO
SET IDENTITY_INSERT [dbo].[Learnings] OFF
GO
SET IDENTITY_INSERT [dbo].[Stotefiles] ON 
GO
INSERT [dbo].[Stotefiles] ([Id], [File]) VALUES (1, N'"god-lord-ganesha-wallpaper-preview.jpg"')
GO
INSERT [dbo].[Stotefiles] ([Id], [File]) VALUES (2, N'"god-lord-ganesha-wallpaper-preview.jpg"')
GO
INSERT [dbo].[Stotefiles] ([Id], [File]) VALUES (3, N'"god-lord-ganesha-wallpaper-preview.jpg"')
GO
SET IDENTITY_INSERT [dbo].[Stotefiles] OFF
GO
ALTER TABLE [dbo].[Customer_Project_Team] ADD  CONSTRAINT [DF_Customer_Project_Team_CustomerId]  DEFAULT ((0)) FOR [CustomerId]
GO
